<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.cemexradio.studiodep"
    version   = "1.0.0">
<icon src="http://pop-radio.mx/CEMEXradio/App/images/cemex-icon.png" />
<gap:splash src="http://pop-radio.mx/CEMEXradio/App/images/cemex-splash.png" />
<name>Cemex Radio</name>

<description>
CemexRadio.
</description>

<author href="https://studiodepweb.com" email="info@studiodepweb.com">
Studio Dep
</author>

</widget>
